* { -webkit-font-smoothing: antialiased !important; }
div { position: absolute; }

span.bold { font-weight: bold; }
span.uppercase,
button.uppercase { text-transform: uppercase; }

#banner-wrapper {
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
}
    #banner-wrapper,
    #banner-wrapper a {
        border: 1px solid black;
        position: absolute;
        top: 0;
        left: 0;
        width: 990px;
        height: 250px;
        overflow: hidden;
    }

    #banner-wrapper div,
    #banner-wrapper ul {
        opacity: 0;
    }
		#banner-wrapper div p {
			line-height: 1.5em;
			margin: 0px;
		}

div#corner-logo-samsung {
	opacity: 1;
	top: 13px;
	right: 14px;

	width: 245px;
	height: 22px;

	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
	background-image: url('img/corner_logo_samsung.png');
}

div#phone-front {
    top: -300px;
    left: -7%;

    width: 110%;
	height: 2030px;

    background-image: url('img/phone_front.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

div#premiovy-dizajn-text {
	opacity: 0;

	padding-left: 60px;
	top: 105px;
	right: 85px;

	font-size: 1.166667em;

	background-image: url('img/phone_icon_front.png');
    background-repeat: no-repeat;
    background-position: left center;
}
	div#premiovy-dizajn-text > p {
		line-height: 1.964287em;
	}

div#phone-turn {
    top: 10px;
    left: 130px;

    width: 153px;
	height: 240px;

    background-image: url('img/phone_turn.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

div#nabijanie-text {
	opacity: 1;
	padding-left: 60px;
	top: 98px;
	right: -550px;
	font-size: 1.166667em;

	background-image: url('img/battery_icon.jpg');
    background-repeat: no-repeat;
    background-position: left 3px;
}
	div#nabijanie-text > p {
		line-height: 1.3em;
	}

div#phone-side {
    top: 10px;
    left: 213px;

    width: 19px;
	height: 241px;

    background-image: url('img/phone_side.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

div#voda-prach-text {
	opacity: 1;
	padding-left: 91px;
	top: 92px;
	right: -650px;
	font-size: 1.166667em;

	background-image: url('img/smash_icon.jpg');
    background-repeat: no-repeat;
    background-position: left 3px;
}
	div#voda-prach-text > p {
		line-height: 2.958333333333333em;
	}

div#phone-back {
    top: 10px;
    left: 130px;

    width: 187px;
	height: 241px;

    background-image: url('img/phone_back.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

div#fotoaparat-text {
	opacity: 1;
	padding-left: 70px;
	top: 75px;
	right: -650px;
	font-size: 1.166667em;

	background-image: url('img/camera_icon.png');
    background-repeat: no-repeat;
    background-position: left center;
}
		div#voda-prach-text > p {
			line-height: 2.958333333333333em;
		}

div#phone-vr {
    top: 0px;
    left: 73px;

    width: 280px;
	height: 244px;

    background-image: url('img/phone_vr.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

div#vr-text {
	opacity: 1;
	padding-left: 70px;
	top: 115px;
	right: -650px;
	font-size: 1.166667em;

	background-image: url('img/vr_icon.png');
    background-repeat: no-repeat;
    background-position: left center;
}
		div#vr-text > p {
			line-height: 1.3em;
		}

div#zmeni-pohlad-text {
	opacity: 1;
	top: 120px;
	left: -325px;
	font-size: 0.7854167em;
}

div#two-phones {
	top: 0px;
    left: 340px;

    width: 292px;
	height: 250px;

	background-image: url('img/two_phones.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

div#big-logo-samsung {
	opacity: 1;
	top: 103px;
    right: -303px;

    width: 292px;
	height: 47px;

	background-image: url('img/big_logo_samsung.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

div#vr-phone-1 {
	opacity: 1;
	top: 279px;
    left: 50px;

	width: 172px;
	height: 147px;

	background-image: url('img/vr_phone_1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

div#vr-phone-2 {
	opacity: 1;
	top: -170px;
    left: 245px;

    width: 258px;
	height: 166px;

	background-image: url('img/vr_phone_2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

div#objednajte-si-text {
	opacity: 1;
	top: 77px;
    right: -395px;

	font-size: 0.95em;
}

	div#objednajte-si-text p {
		margin-bottom: 12px;
	}

	div#objednajte-si-text button {
		background-color: transparent;
		border-radius: 0px;
		border: 1px solid black;
		font-size: 0.6578947368421053em;
		padding: 5px 9px;
	}
